<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <queries>
        <package android:name="com.termux" />
    </queries>

    <permission
        android:name="com.example.passime.permission.SEND_PASSWORD"
        android:protectionLevel="normal" />

    <application
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="Pass IME">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PassImeService"
            android:label="Pass IME"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

        </service>

        <receiver
            android:name=".PasswordReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.passime.PASSWORD" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
